.wrapper{
    display: flex;
    justify-content: space-around;
}

.circle{
    width: 220px;
    height: 220px;
    border-radius: 110px;
}
  
.sky{
    background: skyblue;
}
  
.gray{
    background: gray;
}
  
.green{
    background: green;
}