/*flex 방식으로 요소들의 위치를 조정하고 싶으면
요소들을 flex_container(바로 위 부모만 해당)가 감싸고 있어야 함*/

.container{
    display: flex; 
    /* flex-direction:row(디폴트) -> main 가로-x, cross 세로-y

    main axis*/
    justify-content: space-around; /* space-between : 요소들 사이에만 균일한 간격, space-around: 요소들 주위에 균일한 간격 */

    /*cross axis*/
    align-items: flex-start;
    height: 100vh; /*세로축을 활용할 땐 height 체크*/

    flex-wrap:wrap; /*(defalut) nowrap - 한 줄에 배치하기 위해 요소들의 크기 무시*/
    align-content: flex-start; /*cross axis 줄간격(사이공간) 조절*/
}

.box {
    /*flex-basis - main axis 쪽의 크기-> row-width, column-height*/
    width: 200px;
    height: 200px;
    background:skyblue;
    color:white;
    font-size: 50px;

    /*box안 자식(글자) 배치*/
    display: flex;
    justify-content: center;
    align-items: center;
}


.box:nth-child(2){
    /*자식한테 부여할 수 있는 특성*/
    background:black;
    align-self: center;
    order:1; /* 순서- 디폴트값은 0, 작은순으로 앞에 배치 */

    flex-grow: 2;   /* 남은 공간을 다 채워버림. 0이 디폴트 */

    /*nowrap일때 동작*/
    flex-shrink: 2; /* 한 줄 맞추기를 위해 쪼그라들때 n배로 쪼그라들음. 1이 디폴트 */ 
}

.box:nth-child(3){
    flex-grow:1; /*이 경우 child2가 남은 공간의 2/3, child3이 1/3 차지*/
}