.father{
    display: grid;
    grid-template-rows: 100px 60px 150px 50px; /*행의 크기*/
    grid-template-columns: repeat(4, 250px);
    gap: 10px;
    
    grid-template-areas:
    "header header header header"
    "content content content nav"
    "content content content nav"
    "footer footer footer footer";
}

.header{
    grid-area: header; /*area 지정에서 쓰일 이름 선언*/
    background-color: lawngreen;
}

.content{
    grid-area: content; 
    background-color: coral;
}

.nav{
    grid-area: nav; 
    background-color: firebrick;
}

.footer{
    grid-area: footer; 
    background-color: blueviolet;
}


