.father{
    display: grid;
    grid-template-rows: [first] 100px [second] 60px [third] 150px [fourth] 50px [last]; /*선에 이름 짓에*/
    grid-template-columns: repeat(4, 1fr); /* fraction - 차지 가능할만큼의 공간을 비율대로 나눔*/
    gap: 10px;
    
}

.header{
    background-color: lawngreen;
    grid-column: span 4; /*4칸*/
}

.content{
    background-color: coral;
    grid-column: 1 /-2; /*선기준- 시작기준선이 1, 음수는 뒤에서 부터*/
    grid-row: second / fourth; /* 넘버 대신 선언한 이름으로*/
}

.nav{ 
    background-color: firebrick;
    grid-row: span 2;
}

.footer{
    background-color: blueviolet;
    grid-column: span 4;
}
