/*
minmax와 auto-fill 또는 auto-fit 사용
column들은 반응형으로
*/

@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  height: 100vh;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
  grid-template-rows: 15vh;
  grid-auto-rows: 30vh;  /*오버된 다음행부터 적용*/
}

header{
    display: flex;
    align-items: center;
    justify-content: center;

    grid-column: 1/-1;
    font-size: 80px;
}

div{
    display: flex;
    flex-direction: column;

    justify-content: space-around;
    align-items: center;
    text-align: center; /*글 정렬*/
    
}

div h1{
    font-size: 20px;
}

div h2{
    font-size: 15px;
}


.empty{
    background-color: silver;
}

div:nth-of-type(1){
    background-color: blanchedalmond;
}

div:nth-of-type(3){
    background-color: tomato;
}

div:nth-of-type(5){
    background-color: mediumpurple;
}

div:nth-of-type(6){
    background-color: lawngreen;
}

div:nth-of-type(7){
    background-color: firebrick;
}

div:nth-of-type(8){
    background-color: skyblue;
}

div:nth-of-type(10){
    background-color: darkgreen;
}

div:nth-of-type(12){
    background-color: plum;
}