body{
    display: grid;
    grid-template-columns: 5fr 3fr;
}

/*왼쪽*/
.info_container{
    display: grid;
    grid-template-columns: 10fr 1fr;
    background-color: rgb(216, 90, 44);
}

.info_sheet{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    padding-left:1vw;
    padding-right:1vw;
    color:rgb(189, 23, 23);
    font-weight: bold;
}

.info_box{
    display: grid;
    grid-template-columns: 1fr 8fr 3fr;
    grid-template-rows: repeat(2,1fr);
}

.info_text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.info_title{
    grid-row: span 2;
    
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border: 2px rgb(189, 23, 23) solid;
}

.info_main{
    padding-left:1vw;
    font-size: 80px;
    grid-row: span 2;

    display: flex;
    align-items: center;
    border: 2px rgb(189, 23, 23) solid;
}

.info_spec{
    border: 2px rgb(189, 23, 23) solid;
}

.spec_box{
    width: 80%;

    background-color: rgb(189, 23, 23);
    color:rgb(216, 90, 44);
    border-radius: 30px;
}

/*가운데*/
.center{
    display: grid;
    grid-template-rows: repeat(2,1fr);
}

.center_text{
    display: flex;
    align-items: center;

    writing-mode: vertical-rl;
    padding-top: 2vh;

    font-size: 40px;
}

.center :nth-child(1){
    background: plum;
}

.center :nth-child(2){
    background: darkcyan;
    transform: rotate(180deg);
}


/*오른쪽*/
.press_container{
    background-color: rgb(189, 23, 23);

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding-left: 1vw;
    padding-right: 1vw;
    gap: 2vw;
}

.press_nav{
    display: flex;
    justify-content: space-between;
    font-size: 30px;

    grid-column: 1/-1;

    padding-top: 1vh;
}

.press_box{
    border-top: 2px black solid;

    grid-column: span 1;
    
}


/*호버
:hover (뒤) - 호버시 하위(뒤)에 적용*/
.info_box:hover {
    border-color: white;
    color: white;
    cursor: pointer;
}

.info_box:hover div{
    border-color: white;
}

.info_box:hover .spec_box{
    background-color: white;
}

.center_text:hover {
    color: white;
    cursor: pointer;
}

.press_nav span:hover {
    color: white;
    cursor: pointer;
}

.press_box:hover {
    color: white;
    cursor: pointer;
}

